[submodule "Quickstart-guide"]
	path = Quickstart-guide
	url = https://github.com/UNCW-iPlant/Quickstart-guide
[submodule "Validate-Master"]
	path = Validate-Master
	url = https://github.com/UNCW-iPlant/Validate-Master
